@*Project Cards partial view*@


<img class="card-img-top" src="@Model.Photo" alt="Card image cap">

<div class="card-body">

    <h4 class="card-title text-info">@Model.Title</h4>
    <h5 class="text-secondary">@Model.Description</h5><br />

    <a href="/Projects/Show/@Model.Id" class="btn btn-outline-primary m-2">Read</a>

</div>

