@model TheOffice.Models.Task


<div class="task" id="@Model.Id" draggable="true" ondragstart="drag(event)">
    <p class="denumire" id="@Model.Id"> @Model.Title</p>
    <a href="/Tasks/Show/@Model.Id" visible="hidden" style="padding-bottom:30%; padding-left:60%;">See</a>
</div>

