@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" href="~/css/ProjectsIndex.css" asp-append-version="true" />

</head>

<body>

    @if (ViewBag.Message != null)
    {
        <h2 class="alert-success">@ViewBag.Message</h2>
    }
    <br />

    <h1 class="text" >Hello, @User.Identity?.Name</h1>
    <br />
    <h2 class="text-secondary">This is your desk</h2>

    <br>
  
        <div id="display" class="d-inline-flex justify-content-center">
            <ul>
            @foreach (TheOffice.Models.Project project in ViewBag.Projects)
            {
                <li><div class="card m-4" style="width: 18rem;">

                    <partial name="ProjectCard" model="project"></partial>

                    </div>
                </li>
            }
             </ul>
             <br />
        </div>
     
     <br />

    <a href="/Projects/New" class="btn btn-outline-primary m-2">Add Project</a>

    <br />

    @*Afisare paginata*@
    <div>
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link"
                       href="/Projects/Index?page=1" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                @for (int i = 1; i <= ViewBag.lastPage; i++)
                {
                    <li class="page-item">
                        <a class="page-link"
                       href="/Projects/Index?page=@i">@(i)</a>
                    </li>
                }

                <li class="page-item">
                    <a class="page-link"
                       href="/Projects/Index?page=@(ViewBag.lastPage)" arialabel="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>

</body>
</html>