body {
    margin-bottom: 60px;
    background-image: url(/images/flower.webp);
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    font-family: 'Marko One', serif;
    font-size: 14px;
    color: black;
    align-items:center;
    justify-content:center;
}
.formular {
    width:100%;
    border: 2px solid #000;
    outline: none;
    background: none;
    padding: 10px;
    border-radius: 10px;
    font-size: 1.2em;
}