
@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE>
<html>
<head>
    <link rel="stylesheet" href="~/css/Home.css" asp-append-version="true" />

</head>
<body>
    <div class="text-center">
        <h1 class="display-4" style="padding-top:20%;">Welcome</h1>
        <h1 class="display-4">to The Office!</h1>
        <a href="Identity/Account/Register" class="btn btn-outline-warning m-2">register</a>
        <a href="Identity/Account/Login" class="btn btn-outline-warning m-2">log in</a>

        <br />
    </div>

</body>
</html>