
@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE>
<html>
<head>
    <link rel="stylesheet" href="~/css/Home.css" asp-append-version="true" />

</head>
<body>
    <div class="text-center">
        <h1 class="display-4" style="padding-top:20%;">Welcome!</h1>
        <br />
        <h4>For more, please <a href="Identity/Account/Register"><i>register</i></a> or <a href="Identity/Account/Login"><i>log in</i></a></h4>
    </div>

</body>
</html>